body {
  background: #fafafa;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  display: flex;
  width:15vw;
  background: #fafafa;
}

.conteudoLateralDireita {
  background: blue;
  width:20vw;
}

.conteudoCentral {
  width:65vw;
  background: yellow;
}